
.main {
background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%,  rgba(15,27,49,1) 0%, rgba(0,112,218,1) 90% );
  min-height:1000px;
  max-height: inherit;
  justify-content: center;
  padding-bottom: 25px
}
.navbar {
  background-color: rgba(0,112,218,1);
  border-bottom: 1px solid white;
  font-weight: bold;
  position: fixed;
  top: 0;
  width:100% ;
  overflow: hidden;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.description {
  background-color: #FAD961;
  background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
  color : white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px
}

.page {
  padding-top: 40px;
}

.btn_navbar {
  background-color: rgba(0,112,218,1);
  margin-left: 5px;
  border: none;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.btn_navbar:focus {
    box-shadow: 0 0 0 2px #FFFFFF;
    background-color: rgba(0,112,218,1);
    color: white;
    border: none;
    border-radius: 10px

  }
.btn_navbar:hover {
  background: white;
  color: rgba(0,112,218,1);
  border-radius: 10px
}

.walletAddress {
  color: white;
  margin: 5px;
  margin-left: 100px

}

.connect {
  background-color: #F1C40F;
  margin: 5px;
  border: none;
  border-radius: 10%;
  font-size: 20px;
  margin-left: 100px

}

.loading {
  color: white;
  text-align: center;
}

.footer {
  text-align: center;
}


/* DASHBOARD */

.recap {
  margin-bottom: 70px;
  padding-top: 50px
}

.portfolio,.staking, .reward {
width: 20%;
background-color: rgba(0,112,218,1);
border-radius: 10%;
padding: 5px;
margin-bottom: 10px;
margin-left:  40%;
box-shadow: 12px 12px 12px 1px rgba(0, 0, 0, .2);

}

.balance_dash {
  color: white;
  margin-left: 15px
}

.title {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color : white
}



/* POOL */

.pool {
  text-align: center;
  margin-top:50px;
  background-image: radial-gradient(   rgba(15,27,49,1) 0%, rgba(0,112,218,1) 100% );
  width: 30%;
  margin-bottom: 20px;
  border-radius: 10px;
  padding-top: 1px;
  box-shadow: 12px 12px 12px 1px rgba(0, 0, 0, .2);
}

.remove_liquidity {
  background-image: radial-gradient(   rgba(15,27,49,1) 0%, rgba(0,112,218,1) 100% );
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding :5px;

}

.pool_title {
  font-size: 20px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  box-shadow: 4px 12px 12px 1px rgba(0, 0, 0, .2);
}

.balance {
  color :white;
  font-weight: bold;
}

.btn_add, .btn_remove  {
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 17px;
  margin-bottom: 15px;
  background-color: rgba(0,112,218,1);
  box-shadow: 4px 12px 12px 1px rgba(0, 0, 0, .2);
  margin-top: 10px;
  padding: 5px
}


.btn_remove:hover, .btn_add:hover {
  background: #eee;
  color:rgba(0,112,218,1);
  font-weight: bold;
}

.lbl_get_remove {
  color: white;
  margin-top: -5px;
  font-weight: bold;
}

/* SWAP */

.logo_eth {
  padding: 5px;
  margin-top: 5px
}

.logo_token {
  padding: 5px;
}

.fleche_swap {
  text-align: center;
  border-radius: 50px;
  background-color: white;
  width:15%;
  margin-left:38%;
  margin-top: -10px;
  margin-bottom: -10px;
  position: relative;
}
.swap {
  background-image: radial-gradient( circle farthest-corner at 16.5% 28.1%,  rgba(15,27,49,1) 0%, rgba(0,112,218,1) 90% );
  border-radius: 10px;
  width:30%;
  margin-left: 35%;
  margin-top:250px;
  padding: 15px;
  box-shadow: 12px 12px 12px 1px rgba(0, 0, 0, .2);

}
.input {
  background-color: rgba(0,112,218,1);
  border-radius: 10px;
  padding: 15px;
}

.input_field, .output_field {
  height: 30px;
  width:70%;
  border-radius: 10px;
}

.selectList {
  height: 30px;
  border-radius: 10px;

}
.lbl_eth {
  color: white;
  font-weight: bold;
}

.output {
  background-color: rgba(0,112,218,1);
  border-radius: 10px;
  padding: 15px;
}


.lbl_from, .lbl_to {
  text-align: left;
  font-weight: bold;
  color: white;
}
.input_balance {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: -20px
}

.output_balance {
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: -5px
}

.btn_max, .btn_half{
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  margin-bottom: 15px;
  background-color: rgba(0,112,218,1);
  margin-left: 5px;
  box-shadow: 4px 12px 12px 1px rgba(0, 0, 0, .2);
}


.btn_swap {
  border: none;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgba(0,112,218,1);
  color: white;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 25px;
  margin-top: 25px;
  padding:10px;
  width: 100%;
  box-shadow: 4px 12px 12px 1px rgba(0, 0, 0, .2);

}


.btn_swap:hover, .btn_max:hover, .btn_half:hover{
  background: #eee;
  color:rgba(0,112,218,1);
  font-weight: bold;
}


.to_balance, .from_balance {
  color: black;
  margin-left: 5px;
}


/* DAO */


.tab_choise {
  margin-top: 50px;
  text-align: center;
}

.create_main {
  width: 40%;
  margin-left: 30%;
  margin-top: 100px;
  margin-bottom: 50px;
  padding-bottom: 20px;
  border-radius: 10px;
  box-shadow: 4px 12px 12px 1px rgba(0, 0, 0, .2);
  background-image: radial-gradient(   rgba(15,27,49,1) 0%, rgba(0,112,218,1) 100% );
}

.prop {
  margin-top: 25px;
  width: 30%;
  margin-left: 35%;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 25px;
}


.create_prop_title {
  background-image: radial-gradient(   rgba(15,27,49,1) 0%, rgba(0,112,218,1) 100% );
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border-radius: 10px;
  padding-top :15px;
  padding-bottom :15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

}

.create_prop_field {
  text-align: center;
  color : white;
  font-weight: bold;
  font-size: 20px
}

.create_prop_textarea {
  width :80%;
  margin-left: 10%

}
.create_prop_input {
  height: 25px;
  width :60%;
  margin-left: 20%
}


.prop_desc2 {
  font-weight: normal;
  color: white
}

.prop_status, .enddate, .prop_title {
  padding: 5px
}

.prop_title {
  margin-bottom: 0px;
  font-size: 20px
}
.prop_id {
  color: white;
  background-image: radial-gradient(   rgba(15,27,49,1) 0%, rgba(0,112,218,1) 100% );
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  padding: 5px;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: 4px 12px 12px 1px rgba(0, 0, 0, .2);

}

.createby, .yes, .no {
  color: white;
}
 .btn_create_prop, .btn_view_prop {
   color: white;
   border-radius: 10px;
   border: none;
   font-size: 20px;
   margin-left: 2px;
   background-color: rgba(0,112,218,1);
   box-shadow: 4px 12px 12px 1px rgba(0, 0, 0, .2);
   margin-left: 10px;
   padding : 5px
 }

.btn_yes, .btn_no, .btn_execute {
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 2px;
  background-color: rgba(0,112,218,1);
  box-shadow: 4px 12px 12px 1px rgba(0, 0, 0, .2);
  margin-left: 5px
}

.btn_create {
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  margin-top: 10px;
  background-color: rgba(0,112,218,1);
  box-shadow: 4px 12px 12px 1px rgba(0, 0, 0, .2);
  padding : 5px
}

.btn_voting_end, .btn_already_voted {
  color: grey;
  border-radius: 10%;
  font-size: 15px;
  margin-bottom: 5px;
  margin-left: 2px;
}

.btn_yes:focus {
    outline-color: transparent;
    box-shadow: 0 0 0 2px #FFFFFF;
    background-color: #0093E9;
    color: white;
  }

.btn_no:focus {
    outline-color: transparent;
    box-shadow: 0 0 0 2px #FFFFFF;
    background-color: #0093E9;
    color: white;
  }

.btn_yes:hover, .btn_no:hover, .btn_create:hover {background: white; color:#0093E9 }


.prop_detail {
  color: white;
  font-weight: bold;
  border-radius: 10px;
  border: none;
  padding: 5px;
  font-size: 20px;
  margin-bottom: 15px;
  margin-left: 2px;
  background-color: rgba(0,112,218,1);
  box-shadow: 4px 12px 12px 1px rgba(0, 0, 0, .2);
}

.prop_detail:hover {
  background: #eee;
  color:rgba(0,112,218,1);
  font-weight: bold;
}


.details {
  background-image: radial-gradient(   rgba(15,27,49,1) 0%, rgba(0,112,218,1) 100% );
  border-top : 1px solid black;
  margin-top: 5px;
  padding: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px
}

.progress {
  border: 1px solid black;
  height: 20px;
  color: black
}
